In [1]:
# importing the libraries

from os import listdir 
import pandas as pd

 Our data is arranged at patient level. Each psv is has patient record for an hour. The first step would be to add a new column 'patient_id' and then combine all the psv's in a single dataframe or csv

In [4]:
sampl = pd.read_csv('content/training/p000001.psv', sep='|')
sampl.head()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,1,0
1,97.0,95.0,NaN,98.0,75.33,NaN,19.0,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,2,0
2,89.0,99.0,NaN,122.0,86.00,NaN,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,3,0
3,90.0,95.0,NaN,NaN,NaN,NaN,30.0,NaN,24.0,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,4,0
4,103.0,88.5,NaN,122.0,91.33,NaN,24.5,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,5,0

## Merge Data 
###  Train - Validation - Test Split
First approach for solving early prediction of sepsis is to ignore the temporal component in the data. So each record can be treated as a single entity not dependent on any other record. This assumption might be flawed but for establishing a baseline, we are taking this assumption.

Train: 30K Patients Test:5K Validation:5K

In [5]:
a_traincsv = listdir('content/training/')
b_traincsv = listdir('content/training_setB/')

with open("train.psv", "wb") as fout:
    for i, csv in enumerate(a_traincsv):
        # first file 
        if i == 0:
            with open('content/training/'+ csv, "rb") as f:
                fout.write(f.read())
            # Now the rest 
            with open('content/training/'+csv, "rb") as f:
                next(f) # skip the header 
                fout.write(f.read())
    for i, csv in enumerate(b_traincsv):
        if i<10000:
            with open('content/training_setB/'+csv,"rb") as f:
                next(f) # skip the header 
                fout.write(f.read())

In [8]:
train = pd.read_csv('train.psv', sep='|')
train.shape

(380282, 41)

In [9]:
with open("validation.psv","wb") as fout:
    for i,csv in enumerate(b_traincsv):
        if i >=10000 and i <15000:
            # first file:
            if i == 10000:
                with open('content/training_setB/' + csv, "rb") as f:
                    fout.write(f.read())
                    # now the rest:    
            with open('content/training_setB/' + csv, "rb") as f:
                next(f) # skip the header
                fout.write(f.read())

In [10]:

validation = pd.read_csv('validation.psv', sep ='|')
validation.shape

(190898, 41)

In [13]:
with open("test.psv", "wb") as fout: 
    for i, csv in enumerate(b_traincsv):
        if i>=15000:
            #first file:
            if i == 15000:
                with open('content/training_setB/'+csv, "rb") as f:
                    fout.write(f.read())
            # now the rest:
            with open('content/training_setB/'+csv, "rb") as f:
                next(f) # skip the header 
                fout.write(f.read())

In [14]:
test = pd.read_csv('test.psv', sep ='|')
test.shape

(190960, 41)